/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 -0 10px #00c3ff, 0 0 15px #0077ff;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  padding: 2px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: flex; 
  align-items: center;
  gap: 5px; 
  border-radius: 5px;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-links a:hover {
  color: #1e90ff;
}


/* Hamburger Menu (for mobile view) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
