.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #003c53, rgb(48, 0, 88), #370049);
}

.login-form {
  background-color: rgb(39, 49, 52);
  padding: 30px 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #7ae4ee, 0 0 16px #6b90ff, 0 0 24px #801eff;
  color: white
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.message {
  text-align: center;
  margin-bottom: 15px;
  color: red;
}

.error {
  font-size: 0.85rem;
  color: crimson;
  margin-bottom: 10px;
}

.Link {
    text-decoration: none;
}

/* .password-field {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-field input {
    flex: 1;
  }
  
  .toggle-btn {
    margin-left: 8px;
    padding: 5px 10px;
    font-size: 0.9rem;
    background: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
  }
   */